<footer class="footer">
  <small>
    Warehouse Application for CS425 @ IIT</a>
    by Markiyan Varhola and Philip Sijimon</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>